# NOTE: Remember to update .editorconfig for new changes.

* text=auto


# Common

*.md text eol=lf
*.json text eol=lf


# Javascript, npm

*.js text eol=lf
*.mjs text eol=lf


# Images

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text


# Exclude files from exporting

.gitattributes export-ignore
.gitignore export-ignore
.keep export-ignore
