# NOTE: Remember to update .editorconfig for new changes.

* text=auto

# Common

*.md text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.json5 text eol=lf

# Javascript, Typescript, npm

*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# Images

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Exclude files from exporting

.gitattributes export-ignore
.gitignore export-ignore
.keep export-ignore
